/*General body styling*/
html {
    font-family: 'Jersey 15', 'Pixelify Sans', 'serif';
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}


#container {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
/*background video*/
video {
    object-fit: cover;
    display: block;
    margin: auto;
    max-height: 100vh;
}

/*Enter and exit button*/
.select {
    font-size: 2em;
    border: 3px solid rgb(237, 231, 231);
    padding: 5px;
    color: rgb(221, 231, 231);
    border-radius: 5%;
}

#enter-button {
    display: flex;
    position: absolute;
    left: 33%;
    top: 60%;
}

label{
    display: flex;
    position: absolute;
    left: 21%;
    top: 78%;
    justify-content: center;
    visibility: visible;
}

.age-input{
    visibility: visible;
}

#response{
    display: flex;
    position: absolute;
    left: 10%;
    top: 90%;
    justify-content: center;
    font-size: 2em;
    padding: 5px;
    color: rgb(221, 231, 231);
}

#playerAge{
    display: flex;
    position: absolute;
    left: 24.5%;
    top: 87%;
    justify-content: center;

}

/*Animation code attributed to cssanimation.io*/
.hu__hu__ {
    animation: hu__hu__ infinite 2s ease-in-out
}

@keyframes hu__hu__ {
    50% {
        transform: translateY(30px)
    }
}


#exit-button {
    display: flex;
    position: absolute;
    left: 88%;
    top: 2%;
}

#exit{
    padding-bottom: 0;
}

#exit-img{
    width: 30px;
    padding-bottom: 0;
}

/*player name*/
input{
   background: none;
   font-family: 'Jersey 15', 'Pixelify Sans', 'serif';
   font-size: 2em;
   width: 50%;
   position: absolute;
   left: 95px;
   top: 85px;
}

.enter{
    width: 120px;
    left: 10px;
    top: 35px;
}

/*rules*/
#rules {
    display: flex;
    max-width: 200px;
    position: absolute;
    left: 25.5%;
    top: 5%;
    justify-content: center;
}

ul {
    padding-left: 16px;
    padding-right: 16px;
}

li {
    list-style: none;
}

/*Animation code attributed to cssanimation.io*/
.bounceOutTop {
    animation-name: bounceOutTop
}

@keyframes bounceOutTop {

    18%,
    33%,
    48% {
        opacity: 1
    }

    18% {
        transform: translate3d(0, 27px, 0)
    }

    33% {
        transform: translate3d(0, -12px, 0)
    }

    48% {
        transform: translate3d(0, 8px, 0)
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -300%, 0)
    }
}


/*game icons */
#options {
    display: flex;
    position: absolute;
    left: 3.5%;
    top: 82%;
    justify-content: center;
    gap: 15px;
    visibility: hidden;

}

.game-option {
    background-color: rgba(92, 36, 112, 0.873);
    border: rgba(92, 36, 112, 0.873);
    border-radius: 100%;

}

/*Attributed to W3schools*/
.game-option:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.2); 
}

img {
    width: 100px;
}

#computer-results {
    display: flex;
    position: absolute;
    left: 8%;
    top: 15%;
    gap: 15px;
    visibility: hidden;
}

.lightning { animation-name: lightning }
@keyframes lightning {
    from, 50%, to { opacity: 1 }
    25%, 75% { opacity: 0 }
}

/*  */
/* .computer-shake{
    transform: scale(1.2);
    background-color: rgba(92, 36, 112, 0.873);
    border: rgba(92, 36, 112, 0.873);
    border-radius: 100%;
    border: 2px solid rgb(239, 206, 61);
} */


/*Animation code attributed to : How TO - Shake an Image: W3schools. With altered animation-iteration-count from infinate to 2s;*/
.computer-shake {
    transform: scale(1.2);
    background-color: rgba(92, 36, 112, 0.873);
    border: rgba(92, 36, 112, 0.873);
    border-radius: 100%;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
} 

/*winner-or-loser*/

#winner-or-loser {
    font-size: 2em;
    color: rgb(221, 231, 231);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14%;
    top: 32%
}

/*Animation code attributed to cssanimation.io*/
.bounceInTop {
    animation-name: bounceInTop
}

@keyframes bounceInTop {
    0% {
        transform: translate3d(0, -300%, 0)
    }

    58% {
        transform: translate3d(0, 27px, 0)
    }

    73% {
        transform: translate3d(0, -12px, 0)
    }

    88% {
        transform: translate3d(0, 7px, 0)
    }
}

#winner-message {
    margin-top: 15px;
    margin-bottom: 15px;
    visibility: hidden;
}

#loser-message {
    display: flex;
    justify-content: center;
    margin-top: -19%;
    margin-bottom: 15px;
    visibility: hidden;
}



/*Media Queries*/

/*Media queries outline code attributed to W3schools*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    video {
        max-width: 600px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #container {
        max-width: 684px;
    }

    body {
        background: green;
    }

}